body {
    background-color: rgb(115, 240, 163);
  }

  h1 {
    color: rgb(0, 0, 1);
    margin-left: 20px;
    font-size: xlarge;
    border: 30px solid rgb(14, 5, 249);
    padding: 40px;
  }