body {
    background-color: rgb(115, 240, 163);
  }
  
  h1 {
    color: rgb(0, 0, 1);
    margin-left: 20px;
    font-size: xx-large;
    border: 40px solid rgb(14, 5, 249);
    padding: 40px;
  }
  
  

  p1 {
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    margin-left: 20px;
    font-size: x-large;
  }

  p2 {
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    margin-left: 20px;
  }
  
  h2 {
    color: rgb(0, 0, 1);
    margin-left: 20px;
    font-size: x-large;
    border: 20px solid rgb(14, 5, 249);
    padding: 20px;
  }

  h3 {
    color: rgb(0, 0, 1);
    margin-left: 20px;
    font-size: medium;
    border: 20px solid rgb(14, 5, 249);
    padding: 20px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 60%;
  }